/Fibonnaci.class
/InsertionSort.class
/MaxSubarray.class
/MergeSort.class
/MostFreq.class
/MutliplyWithout.class
/NumberPalindrome.class
/PrintArray.class
/RecursiveFactorial.class
/StringInt.class
/StringPalindrome.class
